[submodule "contrib/pg_variables"]
	path = contrib/pg_variables
	url = https://github.com/postgrespro/pg_variables
	branch = master
[submodule "contrib/jsquery"]
	path = contrib/jsquery
	url = https://github.com/postgrespro/jsquery
	branch = master
[submodule "contrib/sr_plan"]
	path = contrib/sr_plan
	url = https://github.com/postgrespro/sr_plan
	branch = master
[submodule "contrib/pg_pathman"]
	path = contrib/pg_pathman
	url = https://github.com/postgrespro/pg_pathman
	branch = master
