aiopg==0.12.0
aioprocessing==0.0.1
astroid==1.4.8
docker-py==1.10.6
docker-pycreds==0.2.1
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
pdb==0.1
pi==0.1.2
psycopg2==2.6.2
pylint==1.6.4
python-gnupg==0.3.9
PyYAML==3.12
requests==2.12.1
six==1.10.0
websocket-client==0.37.0
wrapt==1.10.8
